[Unit]
Description=Kavita Server
After=network.target
 
[Service]
User=kavita
Group=kavita
Type=simple
WorkingDirectory=/opt/Kavita
ExecStart=/opt/Kavita/Kavita
TimeoutStopSec=20
KillMode=process
Restart=on-failure
AmbientCapabilities = CAP_NET_BIND_SERVICE
 
[Install]
WantedBy=multi-user.target