
envFromSecrets: 
  - name: grafana-auth-secret

envFromConfigMaps:
  - name: grafana-config

admin:
  existingSecret: grafana-admin
  userKey: username
  passwordKey: password

dashboards:
  default:
    kubernetes:
      url: https://grafana.com/api/dashboards/15661/revisions/2/download
    longhorn:
      url: https://grafana.com/api/dashboards/16888/revisions/9/download
    traefik:
      url: https://grafana.com/api/dashboards/17347/revisions/9/download
    cert-manager:
      url: https://grafana.com/api/dashboards/11001/revisions/1/download

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: https://prom.wrenspace.dev/
        access: proxy
        isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: cert-issuer
    # homepage
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: "Monitoring"
    gethomepage.dev/name: "Grafana"
    gethomepage.dev/app: "grafana"
    gethomepage.dev/icon: grafana
    gethomepage.dev/description: "Monitoring dashboard"
  hosts:
    - stats.wrenspace.dev
  tls:
    - secretName: grafana-tls
      hosts:
        - stats.wrenspace.dev
