apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  GF_SERVER_ROOT_URL: https://stats.wrenspace.dev/
  # SSO
  GF_AUTH_GENERIC_OAUTH_ENABLED: 'true'
  GF_AUTH_GENERIC_OAUTH_NAME: Authelia
  GF_AUTH_GENERIC_OAUTH_ICON: signin
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: grafana
  GF_AUTH_GENERIC_OAUTH_SCOPES: 'openid profile email groups'
  GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES: 'false'
  GF_AUTH_GENERIC_OAUTH_AUTH_URL: 'https://auth.wrenspace.dev/api/oidc/authorization'
  GF_AUTH_GENERIC_OAUTH_TOKEN_URL: 'https://auth.wrenspace.dev/api/oidc/token'
  GF_AUTH_GENERIC_OAUTH_API_URL: 'https://auth.wrenspace.dev/api/oidc/userinfo'
  GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH: 'preferred_username'
  GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH: 'groups'
  GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: 'name'
  GF_AUTH_GENERIC_OAUTH_USE_PKCE: 'true'
  GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups[*], 'admin') && 'Admin' || 'Viewer'"