grafana.ini:
  server:
    root_url: https://stats.wrenspace.dev/

  auth.generic_oauth:
    enabled: true
    name: Authelia
    icon: signin
    client_id: grafana
    scopes: openid profile email groups
    empty_scopes: false
    auth_url: https://auth.wrenspace.dev/api/oidc/authorization
    token_url: https://auth.wrenspace.dev/api/oidc/token
    api_url: https://auth.wrenspace.dev/api/oidc/userinfo
    login_attribute_path: preferred_username
    groups_attribute_path: groups
    name_attribute_path: name
    client_auth_method: client_secret_basic
    use_pkce: true
    role_attribute_path: contains(groups[*], 'admin') && 'Admin' || 'Viewer'

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: cert-issuer
    # homepage
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: "Monitoring"
    gethomepage.dev/name: "Grafana"
    gethomepage.dev/app: "grafana"
    gethomepage.dev/icon: grafana
    gethomepage.dev/description: "Monitoring dashboard"
  hosts:
    - stats.wrenspace.dev
  tls:
    - secretName: grafana-tls
      hosts:
        - stats.wrenspace.dev
