---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml

helmCharts:
  - name: prometheus
    repo: oci://ghcr.io/prometheus-community/charts/
    releaseName: prometheus
    version: 27.42.1
    namespace: monitoring
    valuesFile: prometheus.values.yaml

  - name: grafana
    repo: https://grafana.github.io/helm-charts
    releaseName: grafana
    version: 10.1.4
    namespace: monitoring
    valuesFile: grafana.values.yaml