---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - secrets.yaml

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    releaseName: grafana
    version: 10.0.0
    namespace: monitoring
    valuesFile: grafana.values.yaml

  - name: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus
    version: 27.39.0
    namespace: monitoring
    valuesFile: prometheus.values.yaml