server:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: cert-issuer
      # homepage
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/group: Monitoring
      gethomepage.dev/name: Prometheus
      gethomepage.dev/icon: prometheus
      gethomepage.dev/description: Metrics Database
    hosts:
      - prom.stats.wrenspace.dev
    tls:
      - secretName: prom-tls
        hosts:
          - prom.stats.wrenspace.dev
