ports:
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    http:
      middlewares:
        - kube-system-hsts@kubernetescrd
      tls:
        enabled: true
    http3:
      enabled: true
      advertisedPort: 443
    forwardedHeaders:
      trustedIPs:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
      insecure: false
  ldaps:
    port: 6360
    expose:
      default: true
    exposedPort: 636
    protocol: TCP
  mysql:
    port: 3306
    expose:
      default: true
    exposedPort: 3306
    protocol: TCP

api:
  dashboard: true

providers:
  kubernetesCRD:
    allowCrossNamespace: true
