---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: wrenix
  namespace: flux-system
spec:
  interval: 24h
  type: oci
  url: oci://codeberg.org/wrenix/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: jellyfin
      version: 0.3.21
      sourceRef:
        kind: HelmRepository
        name: wrenix
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: jellyfin-values