---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: wrenix
  namespace: flux-system
spec:
  interval: 24h
  type: oci
  url: oci://codeberg.org/wrenix/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/part-of: media
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: jellyfin
      version: 0.3.23
      sourceRef:
        kind: HelmRepository
        name: wrenix
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: jellyfin-values
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: jellyfin
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: jellyfin
              spec:
                template:
                  spec:
                    containers:
                      - name: jellyfin
                        securityContext:
                          privileged: true
                        volumeMounts:
                          - name: dri
                            mountPath: /dev/dri
                    volumes:
                      - name: dri
                        hostPath:
                          path: /dev/dri