persistence:
  config:
    pvc:
      enabled: true
      claimName: jellyfin-config
  media:
    readOnly: true
    nfs:
      server: 192.168.1.69
      path: "/mnt/birdpool/jellyfin/media"

nodeSelector:
  gpu-node: "true"

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: cert-issuer
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Jellyfin"
    gethomepage.dev/group: "Media"
    gethomepage.dev/icon: "jellyfin"
    gethomepage.dev/description: "Media streaming"
    gethomepage.dev/href: "https://stream.wrenspace.dev"
    gethomepage.dev/weight: "20"
  hosts:
    - host: stream.wrenspace.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: jellyfin-tls
      hosts:
        - stream.wrenspace.dev