---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - paperless.yaml
  - service.yaml
  - ingress.yaml
  - config.yaml
  - creds.yaml
  - database.yaml
  - nfs-volume.yaml
  - vsftpd.yaml

helmCharts:
  - name: redis
    repo: https://charts.bitnami.com/bitnami
    releaseName: redis
    version: 24.0.0
    namespace: paperless
    valuesInline:
      architecture: standalone
      auth:
        existingSecret: redis-creds
        existingSecretPasswordKey: password
      master:
        priorityClassName: high-priority