---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - crypto.yaml
  - creds.yaml
  - database.yaml
  - client-secrets.yaml
  - tunnelbinding.yaml

helmCharts:
  - name: authelia
    repo: https://charts.authelia.com
    releaseName: authelia
    version: 0.10.49
    namespace: authelia
    valuesFile: values.yaml

  - name: redis
    repo: https://charts.bitnami.com/bitnami
    releaseName: redis
    version: 24.0.0
    namespace: authelia
    valuesInline:
      architecture: standalone
      auth:
        existingSecret: redis-creds
        existingSecretPasswordKey: password
      master:
        priorityClassName: high-priority