pod:
  kind: Deployment
  priorityClassName: high-priority
  annotations:
    secret.reloader.stakater.com/reload: "client-secrets,crypto,lldap-auth,db-auth"
    configmap.reloader.stakater.com/reload: "authelia-values"

configMap:
  server:
    endpoints:
      authz:
        forward-auth:
          implementation: 'ForwardAuth'
          authn_strategies:
            - name: 'HeaderAuthorization'
              schemes:
                - 'Basic'
              scheme_basic_cache_lifespan: 0
            - name: 'CookieSession'
        ext-authz:
          implementation: 'ExtAuthz'
          authn_strategies:
            - name: 'HeaderAuthorization'
              schemes:
                - 'Basic'
              scheme_basic_cache_lifespan: 0
            - name: 'CookieSession'
        auth-request:
          implementation: 'AuthRequest'
          authn_strategies:
            - name: 'HeaderAuthorization'
              schemes:
                - 'Basic'
              scheme_basic_cache_lifespan: 0
            - name: 'CookieSession'
        legacy:
          implementation: 'Legacy'

  session:
    cookies: [ { domain: wrenspace.dev, subdomain: auth } ]
    redis:
      enabled: true
      deploy: false
      host: redis-master.authelia.svc.cluster.local
      password:
        secret_name: redis-creds

  access_control:
    default_policy: deny
    rules:
      - domain: 'drive.wrenspace.dev'
        policy: two_factor
        subject:
          - ['group:nextcloud']
      - domain: 'file.wrenspace.dev'
        policy: two_factor
        subject:
          - ['group:paperless']
      - domain: 'grocy.wrenspace.dev'
        policy: two_factor
        subject:
          - ['group:grocy']
      - domain: 'grafana.wrenspace.dev'
        policy: two_factor
        subject:
          - ['group:admin']

  storage:
    mysql:
      enabled: true
      deploy: false
      address: tcp://mariadb-port.mariadb-sys.svc.cluster.local:3306
      database: authelia
      password:
        secret_name: db-auth

  notifier:
    smtp:
      enabled: true
      address: smtp://send.smtp-relay.svc.cluster.local
      sender: "Accounts <admin@wrenspace.dev>"
      disable_html_emails: true
      password: # temporary for testing
        disabled: true
      disable_require_tls: true

  authentication_backend:
    ldap:
      enabled: true
      implementation: lldap
      address: ldaps://lldap.lldap.svc.cluster.local:6360
      tls:
        server_name: id.wrenspace.dev
      base_dn: dc=wrenspace,dc=dev
      user: uid=search,ou=people,dc=wrenspace,dc=dev
      password: { secret_name: lldap-auth }

  identity_providers:
    oidc:
      enabled: true
      jwks:
        - key_id: default
          algorithm: RS256
          use: sig
          key: { path: /secrets/jwk-rsa/private.pem }
      cors:
        endpoints: [ userinfo, authorization, token, revocation, introspection ]
        allowed_origins_from_client_redirect_uris: true
      claims_policies:
        legacy:
          id_token: [ email, email_verified, alt_emails, name, preferred_username, groups ]
        grafana:
          id_token: [ email, name, groups, preferred_username ]

      # CLIENTS HERE
      clients:
        # nextcloud
        - client_id: nextcloud
          client_name: Nextcloud
          client_secret: { path: /secrets/client-secrets/nextcloud.secret.txt }
          public: false
          authorization_policy: two_factor
          require_pkce: true
          pkce_challenge_method: S256
          redirect_uris: [ https://drive.wrenspace.dev/apps/oidc_login/oidc ]
          scopes: [ openid, profile, email, groups ]
          response_types: [ code ]
          grant_types: [ authorization_code ]
          access_token_signed_response_alg: none
          userinfo_signed_response_alg: none
          token_endpoint_auth_method: client_secret_basic

        # paperless
        - client_id: paperless
          client_name: Paperless-NGX
          client_secret: { path: /secrets/client-secrets/paperless.secret.txt }
          public: false
          authorization_policy: two_factor
          require_pkce: true
          pkce_challenge_method: S256
          redirect_uris: [ https://file.wrenspace.dev/accounts/oidc/authelia/login/callback/ ]
          scopes: [ openid, profile, email, groups ]
          response_types: [ code ]
          grant_types: [ authorization_code ]
          access_token_signed_response_alg: none
          userinfo_signed_response_alg: none
          token_endpoint_auth_method: client_secret_basic
        
        # home assistant
        - client_id: 'home-assistant'
          client_name: 'Home Assistant'
          client_secret: { path: /secrets/client-secrets/hass.secret.txt }
          public: false
          require_pkce: true
          pkce_challenge_method: 'S256'
          authorization_policy: 'two_factor'
          redirect_uris:
            - 'https://home.wrenspace.dev/auth/oidc/callback'
          scopes:
            - 'openid'
            - 'profile' 
            - 'groups'
          response_types:
            - 'code'
          grant_types:
            - 'authorization_code'
          access_token_signed_response_alg: 'none'
          userinfo_signed_response_alg: 'none'
          token_endpoint_auth_method: 'client_secret_post'

        # jellyfin
        - client_id: 'jellyfin'
          client_name: 'jellyfin'
          client_secret: { path: /secrets/client-secrets/jellyfin.secret.txt }
          public: false
          require_pkce: true
          pkce_challenge_method: 'S256'
          authorization_policy: 'two_factor'
          redirect_uris:
            - 'https://stream.wrenspace.dev/sso/OID/redirect/authelia'
          scopes:
            - 'openid'  
            - 'profile'
            - 'groups'
          response_types:
            - 'code'
          grant_types:
            - 'authorization_code'
          access_token_signed_response_alg: 'none'
          userinfo_signed_response_alg: 'none'
          token_endpoint_auth_method: 'client_secret_post'

        # grafana
        - client_id: 'grafana'
          claims_policy: 'grafana'
          client_name: 'Grafana'
          client_secret: { path: /secrets/client-secrets/grafana.secret.txt }
          public: false
          require_pkce: true
          pkce_challenge_method: 'S256'
          redirect_uris:
            - 'https://grafana.wrenspace.dev/login/generic_oauth'
          scopes:
            - 'openid'
            - 'profile'
            - 'groups'
            - 'email'
          response_types:
            - 'code'
          grant_types:
            - 'authorization_code'
          access_token_signed_response_alg: 'RS256'
          id_token_signed_response_alg: 'RS256'
          userinfo_signed_response_alg: 'none'
          token_endpoint_auth_method: 'client_secret_basic'

        # immich
        - client_id: 'immich'
          client_name: 'Immich'
          client_secret: { path: /secrets/client-secrets/immich.secret.txt }
          public: false
          authorization_policy: 'two_factor'
          require_pkce: true
          pkce_challenge_method: 'S256'
          redirect_uris:
            - 'https://photo.wrenspace.dev/auth/login'
            - 'https://photo.wrenspace.dev/user-settings'
            - 'https://photo.wrenspace.dev/api/oauth/mobile-redirect'
          scopes:
            - 'openid'
            - 'profile'
            - 'email'
          response_types:
            - 'code'
          id_token_signed_response_alg: 'RS256'
          userinfo_signed_response_alg: 'RS256'
          token_endpoint_auth_method: 'client_secret_post'

secret:
  existingSecret: crypto
  additionalSecrets:
    lldap-auth:
      items: [ { key: password, path: authentication.ldap.password.txt } ]
    db-auth:
      items: [ { key: password, path: storage.mysql.password.txt } ]
    redis-creds:
      items: [ { key: session.redis.password.txt, path: session.redis.password.txt } ]
    jwk-rsa:
      items: [ { key: private.pem, path: private.pem } ]
    client-secrets: {}

ingress:
  enabled: true
  className: traefik
  certManager: true
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kube-system-hsts@kubernetescrd
    cert-manager.io/cluster-issuer: cert-issuer
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Authelia"
    gethomepage.dev/group: "Core"
    gethomepage.dev/icon: "authelia"
    gethomepage.dev/description: "Authentication"
    gethomepage.dev/weight: "10"

    

  tls:
    enabled: true
    secret: authelia-tls-cert