apiVersion: v1
kind: ConfigMap
metadata:
  name: grocy-config
  namespace: grocy
data:
  TZ: "America/Chicago"
  PUID: "1000"
  PGID: "1000"
  GROCY_AUTH_CLASS: "Grocy\\Middleware\\ReverseProxyAuthMiddleware"
  GROCY_REVERSE_PROXY_AUTH_HEADER: "Remote-User"
  GROCY_REVERSE_PROXY_AUTH_USE_ENV: "false"
  GROCY_LDAP_ENABLED: "true"
  GROCY_LDAP_ADDRESS: "ldaps://lldap.lldap.svc.cluster.local:6360"
  GROCY_LDAP_BASE_DN: "ou=people,dc=wrenspace,dc=dev"
  GROCY_LDAP_BIND_DN: "uid=search,ou=people,dc=wrenspace,dc=dev"
  GROCY_LDAP_USER_FILTER: "(&(objectClass=person)(uid=%s)(memberOf=cn=grocy,ou=groups,dc=wrenspace,dc=dev))"
  GROCY_LDAP_UID_ATTR: "uid"