apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grocy-data
  namespace: grocy
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi