---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - nfs-vol.yaml
  - secrets.yaml

helmCharts:
  - repo: https://immich-app.github.io/immich-charts
    name: immich
    releaseName: immich
    version: 0.10.3
    namespace: immich
    valuesFile: values.immich.yaml
  
  - repo: https://charts.bitnami.com/bitnami
    name: postgresql
    releaseName: immich-postgres
    version: 18.1.13
    namespace: immich
    valuesInline:
      primary:
        priorityClassName: high-priority
      auth:
        username: immich
        database: immich
        existingSecret: immich-creds
        secretKeys:
          userPasswordKey: postgres
