---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - env.yaml
  - nfs-vol.yaml
  - secrets.yaml
  - postgres.yaml

helmCharts:
  - repo: https://immich-app.github.io/immich-charts
    name: immich
    releaseName: immich
    version: 0.10.3
    namespace: immich
    valuesFile: values.immich.yaml