---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: bitnami
  namespace: flux-system
spec:
  interval: 24h
  type: oci
  url: oci://registry-1.docker.io/bitnamicharts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: nextcloud
spec:
  interval: 30m
  chart:
    spec:
      chart: redis
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  values:
    architecture: standalone
    auth:
      existingSecret: redis-secret
      existingSecretPasswordKey: password
    master:
      persistence:
        size: 5Gi
      priorityClassName: high-priority