---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 24h
  url: https://metallb.github.io/metallb
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: metallb
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/part-of: infrastructure
spec:
  interval: 30m
  chart:
    spec:
      chart: metallb
      version: 0.15.3
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: metallb-values