apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - helmrelease.yaml

commonLabels:
  app: prometheus

configMapGenerator:
  - name: prometheus-values
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true
