prometheus:
  prometheusSpec:
    retention: 30d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
    resources:
      requests:
        cpu: 250m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 4Gi
    ruleSelector: {}  

grafana:
  enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
  config:
    route:
      group_by: ['alertname', 'namespace']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'apprise'
    receivers:
      - name: 'apprise'
        webhook_configs:
          - url: 'http://apprise-service.notify.svc.cluster.local:8000/notify/prometheus'
            send_resolved: true

defaultRules:
  create: true
  rules:
    kubernetesApps: true

prometheus-node-exporter:
  enabled: true

kubeStateMetrics:
  enabled: true