apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - helmrelease.yaml

configMapGenerator:
  - name: homepage-values
    namespace: homepage
    files:
      - values.yaml
    options:
      disableNameSuffixHash: true