image:
  tag: v1.8.0

enableRbac: true

defaultPodOptions:
  annotations:
    configmap.reloader.stakater.com/reload: "homepage"

service:
  main:
    ports:
      http:
        port: 3000

resources:
  requests:
    memory: 256Mi
    cpu: 50m
  limits:
    memory: 1Gi
    cpu: 200m

env:
  - name: HOMEPAGE_ALLOWED_HOSTS
    value: wrenspace.dev

ingress:
  main:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: cert-issuer
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: wrenspace.dev
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - wrenspace.dev
        secretName: homepage-tls

config:
  kubernetes:
    mode: cluster

  settings:
    title: Homelab
    theme: dark
    color: slate
    statusStyle: dot
    headerStyle: boxed
    cardBlur: md
    background:
      image: https://rare-gallery.com/uploads/posts/372872-4k-wallpaper.jpg
    layout:
      - Core:
          icon: mdi-home
      - Media:
          icon: plex
      - Services:
          icon: google-drive
      - Infrastructure:
          icon: mdi-server
      - Arr:
          icon: radarr
          style: row
          columns: 4
  
  bookmarks:
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/

  services:
    - Infrastructure:
        - Cockpit:
            href: https://nix.wrenspace.dev
            icon: cockpit
            description: Server management
            siteMonitor: https://nix.wrenspace.dev
            weight: 10
        - Gitea:
            href: https://git.wrenspace.dev
            icon: gitea
            description: Git repository
            siteMonitor: https://git.wrenspace.dev
            weight: 20
        - Proxmox:
            href: https://pve.wrenspace.dev
            icon: proxmox
            description: Virtualization platform
            siteMonitor: https://pve.wrenspace.dev
            weight: 30
    - Core:
        - Vaultwarden:
            href: https://vault.wrenspace.dev
            icon: vaultwarden
            description: Password manager
            siteMonitor: https://vault.wrenspace.dev
            weight: 70
    - Services:
        - Zigbee2MQTT:
            href: https://iot.wrenspace.dev
            icon: zigbee2mqtt
            description: Zigbee bridge
            siteMonitor: https://iot.wrenspace.dev
            weight: 70
  
  widgets:
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: xl
        format:
          timeStyle: short