---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana-repo
  namespace: flux-system
spec:
  interval: 24h
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: 10.5.8
      sourceRef:
        kind: HelmRepository
        name: grafana-repo
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: grafana-values
  postRenderers:
    - kustomize:
        patchesStrategicMerge:
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: grafana
            spec:
              template:
                spec:
                  containers:
                    - name: grafana
                      envFrom:
                        - secretRef:
                            name: grafana-oauth
