apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-oauth
  namespace: monitoring
spec:
  encryptedData:
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: AgDqGoEeGF1TB/hYNHFIlVdG8pg/PGk2Bfx5YdqjXmAbTxQoAfySOgF7qv7pPNw6qP3mW0oaVf2MNNZQPqlC1nJ54R7JffJLSJjc4AKIerqNsBjGnmrZPLrRE1caKOGy8tufrtY42CtXXwNvHpKRWZouk5rTEK2xObmtd842ez/qVK6EUUCVRkvUj1je9rpSDszyG57MofFuxgqyj4nFhsdxV2h/Kf7Vt1STO1TE+vgTvIP5JAUKJgAQBFyp2616/EK+e7FvRB8ELSR8+uTZAjZn57i2yCKcn4QWAKGh67CD2qW3y0KBf9m6Li5owwNVoqvHv1pb7A8kS02KGWaDoDD/dtZ9tJEO8A9JInypE5LvUANkJdiHRojqO3LXEGjlMO9Ct7yCtrEZU0fQon+anVDcaTkIOvGzpqSc0fdGBQu8F1pxqQrbW0oNuidx3u1d/+Omjj8o2AD9ggZxfyp1LjhJh612E4PQdjYOF9WGHzLO20mqsjOq7VkFGJCxFpejsqCX/sfeemh2fnrjuNZ3xN1Zf5EpN1a6aXBw3a50KS5jIjUcQOPWjVfB+m/6vNfDwqKVcT6IO9vBd5lV0jOxxXtjEumkmQCHiGBg4kSfeZnCH52eLfD8B1Qi9CTbY1TrjYbiQnd4vIvqpAsxAN2/9hmRd59HkC236Y/Oy5kni/as1Ubok92jgHXRiCEStIIa0//ZESPzk41Q31NBAKo4mQcVmZOAweiS5ZmMDj8T0Z+OkgDhkx/fRT9MxSJQTBU/emxs3gfmQdZCzd+Lz1MhEVpbw3x4TAkByX4=
