replicas: 1

image:
  repository: grafana/grafana
  tag: 12.3.1

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  storageClassName: longhorn
  size: 10Gi

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: cert-issuer
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Grafana"
    gethomepage.dev/group: "Infrastructure"
    gethomepage.dev/icon: "grafana"
    gethomepage.dev/description: "Monitoring & observability"
    gethomepage.dev/weight: "40"
  hosts:
    - grafana.wrenspace.dev  
  path: /  
  tls:
    - hosts:
        - grafana.wrenspace.dev
      secretName: grafana-tls

adminPassword: changeme

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-kube-prom-prometheus:9090
        access: proxy
        isDefault: true
        uid: prometheus
      - name: Loki
        type: loki
        url: http://loki:3100
        access: proxy
        uid: loki
      - name: Alertmanager
        type: alertmanager
        url: http://prometheus-kube-prometheus-alertmanager:9093
        access: proxy
        uid: alertmanager
        jsonData:
          implementation: prometheus

envValueFrom:
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
    secretKeyRef:
      name: grafana-oauth
      key: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

alerting:
  contactpoints.yaml:
    apiVersion: 1
    contactPoints:
      - orgId: 1
        name: prometheus-alertmanager
        receivers:
          - uid: prometheus-am
            type: prometheus-alertmanager
            settings:
              url: http://prometheus-kube-prometheus-alertmanager:9093
  
  policies.yaml:
    apiVersion: 1
    policies:
      - orgId: 1
        receiver: prometheus-alertmanager

grafana.ini:
  server:
    root_url: https://grafana.wrenspace.dev
  auth:
    disable_login_form: true
    oauth_auto_login: true
  unified_alerting:
    enabled: true
    execute_alerts: true
    admin_config_poll_interval: 60s
    alertmanager_config_poll_interval: 60s
  alerting:
    enabled: false
  auth.generic_oauth:
    enabled: true
    name: Authelia
    icon: signin
    client_id: grafana
    scopes: openid profile email groups
    empty_scopes: false
    auth_url: https://auth.wrenspace.dev/api/oidc/authorization
    token_url: https://auth.wrenspace.dev/api/oidc/token
    api_url: https://auth.wrenspace.dev/api/oidc/userinfo
    login_attribute_path: preferred_username
    groups_attribute_path: groups
    name_attribute_path: name
    use_pkce: true
    role_attribute_path: "contains(groups[*], 'admin') && 'Admin' || 'Viewer'"
    allow_sign_up: true