apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: paperless
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: redis
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  values:
    architecture: standalone
    auth:
      existingSecret: redis-creds
      existingSecretPasswordKey: password
    master:
      priorityClassName: high-priority