apiVersion: v1
kind: Service
metadata:
  name: paperless
  namespace: paperless
  labels:
    app.kubernetes.io/name: paperless
    app.kubernetes.io/part-of: services
spec:
  type: ClusterIP
  selector:
    app: paperless
  ports:
  - port: 80
    name: http
    targetPort: 8000
