---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml

helmCharts:
  - name: longhorn
    namespace: longhorn-system
    repo: https://charts.longhorn.io
    releaseName: longhorn
    version: 1.9.1
    valuesFile: longhorn.values.yaml