controllers:
  main:
    labels:
      app.kubernetes.io/name: immich
    containers:
      main:
        image:
          tag: v2.4.1
        env:
          - name: REDIS_HOSTNAME
            value: '{{ printf "%s-valkey" .Release.Name }}'
          - name: IMMICH_MACHINE_LEARNING_URL
            value: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-creds
                key: postgres
        envFrom:
          - configMapRef:
              name: immich-env

immich:
  persistence:
    library:
      existingClaim: immich-pvc
    config:
      enabled: true
      storageClass: longhorn
      size: 5Gi

valkey:
  enabled: true

server:
  ingress:
    main:
      enabled: true
      labels:
        app.kubernetes.io/name: immich
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: cert-issuer
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Immich"
        gethomepage.dev/group: "Core"
        gethomepage.dev/app: "immich"
        gethomepage.dev/pod-selector: "app.kubernetes.io/controller=main,app.kubernetes.io/instance=immich,app.kubernetes.io/name=server"
        gethomepage.dev/icon: "immich"
        gethomepage.dev/description: "Photo management"
        gethomepage.dev/href: "https://photo.wrenspace.dev"
        gethomepage.dev/weight: "40"
      hosts:
        - host: photo.wrenspace.dev
          paths:
            - path: "/"
              service:
                identifier: main
      tls:
        - hosts:
            - photo.wrenspace.dev
          secretName: immich-tls