---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: pajikos
  namespace: flux-system
spec:
  interval: 24h
  url: http://pajikos.github.io/home-assistant-helm-chart/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: hass
  labels:
    app.kubernetes.io/name: home-assistant
    app.kubernetes.io/part-of: services
spec:
  interval: 30m
  chart:
    spec:
      chart: home-assistant
      version: 0.3.41
      sourceRef:
        kind: HelmRepository
        name: pajikos
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: hass-values